.err-msg{
    color: white;
    font-size: 70%;
    font-weight: 500;
    text-align: left !important;
}
.err-msg-dashboard{
    color: red;
    font-size: 70%;
    font-weight: 500;
    text-align: left !important;
}