.rev-card-link{
    text-decoration: none !important;
}
.rev-card:hover{
   transform: scale(1.1);
   transition: ease-in-out;
}
.rev-card {
    margin-bottom: 5% !important;
}
.auto-margin{
    margin-left: 15% !important;
}
