.slider_bg_1_ {
    background-image: url(../../assets/img/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
    height: 12.7vh;
}
.overlay2 {
    position: relative;
    z-index: 0;
}